			<section class="content-header">
				<h1>
					<span>Gestão de Ordens</span>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Ordens</li>
				</ol>
			</section>

			<section class="content">

				<div class="row">
					<div class="col-xs-12">

						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Caixa de entrada de ordens</h3>
							</div>
							<div class="box-body table-responsive">
								<table id="tableOrders" class="table table table-hover table-bordered table-striped">
									<thead>
										<tr>
											<th>Pedido</th>
											<th>E-mail</th>
											<th>CPF</th>
											<th>Dt pedido</th>
											<th>Dt Pgto</th>
											<th>Serviço</th>
											<th>Valor</th>
											<th>Pagamento</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">56878454</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment"> - </td>
											<td class="type-service">Legendagem</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-danger">Negado</span></td>
											<td><span class="status-demand label label-success">Finalizado</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">21656615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Outro</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-success">Aprovado</span></td>
											<td><span class="status-demand label label-success">Finalizado</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">65756615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Legendagem de vídeo</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-success">Aprovado</span></td>
											<td><span class="status-demand label label-success">Finalizado</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">17556615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Tradução Livre</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-warning">Aguardando</span></td>
											<td><span class="status-demand label label-warning">Aguardando</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">21696615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Legendagem</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-success">Aprovado</span></td>
											<td><span class="status-demand label label-warning">Andamento</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">21696615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Legendagem</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-success">Aprovado</span></td>
											<td><span class="status-demand label label-success">Finalizado</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">65756615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Legendagem de vídeo</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-success">Aprovado</span></td>
											<td><span class="status-demand label label-success">Finalizado</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">17556615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Tradução Livre</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-danger">Negado</span></td>
											<td><span class="status-demand label label-success">Finalizado</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">21696615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Legendagem</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-success">Aprovado</span></td>
											<td><span class="status-demand label label-warning">Finalizado</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">17556615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Tradução Livre</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-warning">Aguardando</span></td>
											<td><span class="status-demand label label-success">Finalizado</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">21696615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Legendagem</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-success">Aprovado</span></td>
											<td><span class="status-demand label label-success">Finalizado</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">17556615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Tradução Livre</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-success">Aprovado</span></td>
											<td><span class="status-demand label label-warning">Andamento</span></td>
										</tr>
										<tr>
											<td class="number-demand">
												<a href="#this" data-toggle="modal" data-target="#modal-default">21696615</a>
											</td>
											<td class="user-email">email@gmail.com</td>
											<td class="user-cpf">000.000.000-00</td>
											<td class="date-request">11-7-2014</td>
											<td class="date-payment">20-7-2014</td>
											<td class="type-service">Legendagem</td>
											<td class="value-service">R$ 360,50</td>
											<td><span class="status-payment label label-success">Aprovado</span></td>
											<td><span class="status-demand label label-success">Finalizado</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="modal fade order-modal" id="modal-default">
				<div class="modal-dialog modal-lg">
					<div class="modal-content" id="renderPDF">
						<div class="modal-header">
							<img src="../assets/images/logo/logo.png" class="pull-left" alt="Logo abstractme">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						</div>
						<div class="modal-body">
							<div class="row invoice-info">
								<div class="col-sm-4 invoice-col">
									<div class="name-client"><strong>Nome: </strong><span class="user-name"> Maria da Penha DA SILVA</span></div>
									<div class="CPF-client"><strong>CPF: </strong><span class="user-cpf"> 037.050.781-94</span></div>
									<div class="email-client"><strong>E-mail: </strong><span class="user-email">email@gmail.com</span></div>
									<div class="fone-client"><strong>Telefone: </strong><span class="user-fone">(61) 0000-0000</span></div>
									<div class="address-client"><strong>Endereço: </strong><span class="user-address">TERMINAL RODOVIARIO</span></div>
									<div class="district-client"><strong>Bairro: </strong><span class="user-district">SETOR CENTRAL</span></div>
									<div class="city-client"><strong>Cidade: </strong> <span class="user-city">BRASíLIA - DF</span></div>
									<div class="CEP-client"><strong>CEP: </strong><span class="user-cep">72425-100</span></div>
									<br>
								</div>
								<div class="col-sm-4 invoice-col">
									<div class="request-code"><strong>Código do Pedido: </strong><span class="number-demand">56878454</span></div>
									<div class="request-date"><strong>Data do Pedido: </strong><span class="date-request"> 21-7-2017</span></div>
									<div class="Payment-date"><strong>Data do Pgto: </strong><span class="date-payment"> 21-7-2017</span></div>
									<div class="request-status">
										<strong>Status: </strong><span class="status-payment">Pagamento confirmado</span>
									</div>
									<br>
								</div>
								<div class="col-sm-4 invoice-col">
									<div class="name-company"><strong>ABSTRACTME COSULTORIA ME</strong></div>
									<div class="CNPJ"><strong>CNPJ: </strong>00.000.000/0000-00</div>
									<div class="email-company"><strong>E-mail: </strong>contato@abstractme.tr</div>
									<div class="fone-company"><strong>Fone: </strong>(00) 0000-0000</div>
									<div class="state-registration"><strong>Inscrição Estadual: </strong>Isento</div>
									<div class="municipal-registration"><strong> Inscrição Municipal: </strong>0.000</div>
									<div class="address-company"><strong>Endereço: </strong>Conj D, APT 936. ASA NORTE - DF</div>
									<div class="cep-company"><strong>CEP: </strong>000000-000</div>
									<br>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<h4 class="page-header">
										Detalhamento
									</h4>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-12 table-responsive">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Pedido</th>
												<th>Serviço</th>
												<th>Língua</th>
												<th>Arquivo(s)</th>
												<th>Arq.(s) Trad.</th>
												<th>Qtd Caract.</th>
												<th>Przo de Entr.</th>
												<th>Subtotal</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="request-code">21354</td>
												<td class="type-service">Legendas</td>
												<td>De <span class="from">Inglês</span> para <span class="for">Português</span></td>
												<td>
													<ul class="list-unstyled links-documents">
														<li><a href="#this">Link de acesso</a></li>
														<li><a href="#this">Link de acesso</a></li>
													</ul>
												</td>
												<td>
													<ul class="list-unstyled links-documents">
														<li><a href="#this">Link de download</a></li>
														<li><a href="#this">Link de download</a></li>
													</ul>
												</td>
												<td class="number-character">3600</td>
												<td class="date-demand">10-10-2020</td>
												<td class="value-service">R$ 660,50</td>
												<td>
													<span>Finalizado</span>
												</td>
											</tr>
											<tr>
												<td class="request-code">21354</td>
												<td class="type-service">Tradução Livre</td>
												<td>De <span class="from">Inglês</span> para <span class="for">Português</span></td>
												<td>
													<ul class="list-unstyled links-documents">
														<li><a href="#this">Link de acesso</a></li>
													</ul>
												</td>
												<td>
													<ul class="list-unstyled links-documents">
														<li><a href="#this">-</a></li>
														<li><a href="#this">-</a></li>
													</ul>
												</td>
												<td class="number-character">3600</td>
												<td class="date-demand">10-10-2020</td>
												<td class="value-service">R$ 660,50</td>
												<td>
													<span>Aguardando</span>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="text-send">
										<h4>Texto enviado pelo corretor</h4>
											<p class="alert alert-warning" role="alert" style="margin-top: 10px;">
											Olá poderia me encaminhar o arquivo x pelo email tal.
										</p>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6">
									<p class="lead">Forma de Pagamento: <span class="payment-methods">Cartão de Crédito</span></p>

									<p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
										Observação: este comprovante não tem valor fiscal, serve apenas para seu controle. Caso não tenha
										informado seus dados para nota fiscal no momento do pagamento, entre em contato conosco pelo e-mail
										contato@abstractme.tr para solicitar sua nota fiscal eletrônica.
									</p>
								</div>
								<div class="col-xs-6">
									<p class="lead">Descrição dos Valores</p>

									<div class="table-responsive">
										<table class="table">
											<tr>
												<th style="width:50%">Subtotal:</th>
												<td class="subtotal">R$ 921,30</td>
											</tr>
											<tr>
												<th>Tax de Emergência (9.3%)</th>
												<td class="emergency-charge">R$ 92,13</td>
											</tr>
											<tr>
												<th>Total:</th>
												<td class="total">R$ 265,24</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>