<section class="content-header">
        <h1>
            <span>Meu Perfil</span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Perfil</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#password" data-toggle="tab">Alterar Senha</a></li>
                        <li><a href="#datas" data-toggle="tab">Alterar dados</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="password">
                            <form class="form-horizontal reset-password">
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">Senha atual</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control password" name="password" id="inputPassword" placeholder="Senha">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newInputPassword" class="col-sm-2 control-label">Nova senha</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control new-password" name="newPassword" id="newInputPassword" placeholder="Nova Senha">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmNewInputPassword" class="col-sm-2 control-label">Confirme nova senha</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control confirm-new-password" name="RepeatNewPassword" id="confirmNewInputPassword" placeholder="Nova Senha">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Alterar Senha</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="datas">
                        <form class="form-horizontal user">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control name" name="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSex" class="col-sm-2 control-label">Perfil</label>
                                <div class="col-sm-10">
                                    <select class="form-control form-control-sm profile" name="profile">
                                        <option></option>
                                        <option>Colaborador</option>
                                        <option>Cliente</option>
                                        <option>Administrador</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSex" class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-10">
                                    <select class="form-control form-control-sm profile" name="status">
                                        <option></option>
                                        <option>Ativo</option>
                                        <option>Inativo</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputCpf" class="col-sm-2 control-label">CPF</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control cpf" name="cpf" placeholder="CPF">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFone" class="col-sm-2 control-label">Telefone</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control fone" name="phone" placeholder="Telefone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputBirthdate" class="col-sm-2 control-label">Data de Nascimento</label>

                                <div class="col-sm-10">
                                    <input class="form-control datemask date-birth" name="birthdate" placeholder="Data de Nascimento" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCEP" class="col-sm-2 control-label datemask" data-inputmask='"mask": "00000-000"'  data-mask>CEP</label>

                                <div class="col-sm-10">
                                    <input class="form-control cep" placeholder="CEP">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress" class="col-sm-2 control-label">Endereço</label>

                                <div class="col-sm-10">
                                    <input class="form-control address" placeholder="Endereço">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCity" class="col-sm-2 control-label">Cidade</label>

                                <div class="col-sm-10">
                                    <input class="form-control city" placeholder="Cidade">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputState" class="col-sm-2 control-label">Estado</label>

                                <div class="col-sm-10">
                                    <input class="form-control state" placeholder="Estado">
                                </div>
                            </div>
                            <div class="form-group pull-right">

                                <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
                            </div>
                        </form>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade order-modal" id="modal-default">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="renderPDF">
                <div class="modal-header">
                    <img src="../assets/images/logo/logo.png" class="pull-left" alt="Logo abstractme">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCpf" class="col-sm-2 control-label">CPF</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputCpf" placeholder="CPF">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFone" class="col-sm-2 control-label">Telefone</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFone" placeholder="Telefone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputBirthdate" class="col-sm-2 control-label">Data de Nascimento</label>

                                <div class="col-sm-10">
                                    <input class="form-control datemask" id="inputBirthdate" placeholder="Data de Nascimento" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSex" class="col-sm-2 control-label">Sexo</label>
                                <div class="col-sm-10">
                                    <select class="form-control form-control-sm">
                                        <option>Masculino</option>
                                        <option>Feminino</option>
                                        <option>Outros</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCEP" class="col-sm-2 control-label datemask" data-inputmask='"mask": "00000-000"'  data-mask>CEP</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="inputCEP" placeholder="CEP">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress" class="col-sm-2 control-label">Endereço</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="inputAddress" placeholder="Endereço">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCity" class="col-sm-2 control-label">Cidade</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="inputCity" placeholder="Cidade">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputState" class="col-sm-2 control-label">Estado</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="inputState" placeholder="Estado">
                                </div>
                            </div>
                            <div class="form-group pull-right">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>	
                    <!-- /.row -->

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>