<section class="content-header">
    <h1>
        <span>Gestão de Usuários</span>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Usuários</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#password" data-toggle="tab">Usuários</a></li>
                    <li><a href="#datas" data-toggle="tab">Cadastrar Usuários</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="password">
                        <div class="box-header">
                            <h3 class="box-title">Caixa de entrada de ordens</h3>
                        </div>
                        <div class="box-body table-responsive">
                            <table id="tableOrders" class="table table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>CPF</th>
                                        <th>Perfil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">Maria da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-success status-profile">Usuário</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">João da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-warning status-profile">Parceiro</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">Maria da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-success status-profile">Usuário</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">João da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-warning status-profile">Parceiro</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">Maria da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-success status-profile">Usuário</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">João da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-warning status-profile">Parceiro</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">João da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-warning status-profile">Parceiro</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">Maria da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-success status-profile">Usuário</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">João da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-warning status-profile">Parceiro</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">Maria da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-success status-profile">Usuário</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#this" data-toggle="modal" data-target="#modal-default"
                                                class="name-user">João da Penha</a>
                                        </td>
                                        <td class="user-email">email@gmail.com</td>
                                        <td class="user-cpf">000.000.000-00</td>
                                        <td><span class="label label-warning status-profile">Parceiro</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="datas">
                        <div class="content">
                            <form class="form-horizontal user">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control name" name="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSex" class="col-sm-2 control-label">Perfil</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-control-sm profile" name="profile">
                                            <option></option>
                                            <option>Colaborador</option>
                                            <option>Cliente</option>
                                            <option>Administrador</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSex" class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-control-sm profile" name="status">
                                            <option></option>
                                            <option>Ativo</option>
                                            <option>Inativo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSex" class="col-sm-2 control-label">Idioma</label>
                                    <div class="col-sm-10">
                                        <ul class="list-inline" class="category">
                                            <li class="list-inline-item">
                                                <input type="checkbox" class="custom-control-input language-1"
                                                    name="language">
                                                <label for="language-1">Português</label>
                                            </li>
                                            <li class="list-inline-item">
                                                <input type="checkbox" class="custom-control-input language-2"
                                                    name="language">
                                                <label for="language-2">Inglês</label>
                                            </li>
                                            <li class="list-inline-item">
                                                <input type="checkbox" class="custom-control-input language-3"
                                                    name="language">
                                                <label for="language-3">Italiano</label>
                                            </li>
                                            <li class="list-inline-item">
                                                <input type="checkbox" class="custom-control-input language-4"
                                                    name="language">
                                                <label for="language-4">Frances</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSex" class="col-sm-2 control-label">Perfil de Tradução</label>
                                    <div class="col-sm-10">
                                        <ul class="list-inline" class="category">
                                            <li class="list-inline-item">
                                                <input type="checkbox" class="custom-control-input typeService-1"
                                                    name="typeService">
                                                <label for="typeService-1">Tradução Juramentadas</label>
                                            </li>
                                            <li class="list-inline-item">
                                                <input type="checkbox" class="custom-control-input typeService-2"
                                                    name="typeService">
                                                <label for="typeService-2">Tradução Livre</label>
                                            </li>
                                            <li class="list-inline-item">
                                                <input type="checkbox" class="custom-control-input typeService-3"
                                                    name="typeService">
                                                <label for="typeService-3">Legendagem</label>
                                            </li>
                                            <li class="list-inline-item">
                                                <input type="checkbox" class="custom-control-input typeService-4"
                                                    name="typeService">
                                                <label for="typeService-4">Outro</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCpf" class="col-sm-2 control-label">CPF</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control cpf" name="cpf" placeholder="CPF">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputFone" class="col-sm-2 control-label">Telefone</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control fone" name="phone"
                                            placeholder="Telefone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputBirthdate" class="col-sm-2 control-label">Data de
                                        Nascimento</label>

                                    <div class="col-sm-10">
                                        <input class="form-control datemask date-birth" name="birthdate"
                                            placeholder="Data de Nascimento" data-inputmask="'alias': 'dd/mm/yyyy'"
                                            data-mask>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputSex" class="col-sm-2 control-label">Sexo</label>
                                    <div class="col-sm-10">
                                        <select class="form-control form-control-sm sex" name="sex">
                                            <option></option>
                                            <option>Masculino</option>
                                            <option>Feminino</option>
                                            <option>Outros</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCEP" class="col-sm-2 control-label datemask"
                                        data-inputmask='"mask": "00000-000"' data-mask>CEP</label>

                                    <div class="col-sm-10">
                                        <input class="form-control cep" placeholder="CEP">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress" class="col-sm-2 control-label">Endereço</label>

                                    <div class="col-sm-10">
                                        <input class="form-control address" placeholder="Endereço">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCity" class="col-sm-2 control-label">Cidade</label>

                                    <div class="col-sm-10">
                                        <input class="form-control city" placeholder="Cidade">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputState" class="col-sm-2 control-label">Estado</label>

                                    <div class="col-sm-10">
                                        <input class="form-control state" placeholder="Estado">
                                    </div>
                                </div>
                                <div class="form-group pull-right">

                                    <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
                                </div>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade order-modal" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="renderPDF">
            <div class="modal-header">
                <img src="../assets/images/logo/logo.png" class="pull-left" alt="Logo abstractme">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form class="form-horizontal valid-form">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control name" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSex" class="col-sm-2 control-label">Perfil</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm profile" name="profile">
                                    <option></option>
                                    <option>Colaborador</option>
                                    <option>Cliente</option>
                                    <option>Administrador</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSex" class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm profile" name="status">
                                    <option></option>
                                    <option>Ativo</option>
                                    <option>Inativo</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSex" class="col-sm-2 control-label">Idioma</label>
                            <div class="col-sm-10">
                                <ul class="list-inline" class="category">
                                    <li class="list-inline-item">
                                        <input type="checkbox" class="custom-control-input language-1" name="language">
                                        <label for="language-1">Português</label>
                                    </li>
                                    <li class="list-inline-item">
                                        <input type="checkbox" class="custom-control-input language-2" name="language">
                                        <label for="language-2">Inglês</label>
                                    </li>
                                    <li class="list-inline-item">
                                        <input type="checkbox" class="custom-control-input language-3" name="language">
                                        <label for="language-3">Italiano</label>
                                    </li>
                                    <li class="list-inline-item">
                                        <input type="checkbox" class="custom-control-input language-4" name="language">
                                        <label for="language-4">Frances</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSex" class="col-sm-2 control-label">Perfil de Tradução</label>
                            <div class="col-sm-10">
                                <ul class="list-inline" class="category">
                                    <li class="list-inline-item">
                                        <input type="checkbox" class="custom-control-input typeService-1"
                                            name="typeService">
                                        <label for="typeService-1">Tradução Juramentadas</label>
                                    </li>
                                    <li class="list-inline-item">
                                        <input type="checkbox" class="custom-control-input typeService-2"
                                            name="typeService">
                                        <label for="typeService-2">Tradução Livre</label>
                                    </li>
                                    <li class="list-inline-item">
                                        <input type="checkbox" class="custom-control-input typeService-3"
                                            name="typeService">
                                        <label for="typeService-3">Legendagem</label>
                                    </li>
                                    <li class="list-inline-item">
                                        <input type="checkbox" class="custom-control-input typeService-4"
                                            name="typeService">
                                        <label for="typeService-4">Outro</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCpf" class="col-sm-2 control-label">CPF</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control cpf" name="cpf" placeholder="CPF">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputFone" class="col-sm-2 control-label">Telefone</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control fone" name="phone" placeholder="Telefone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputBirthdate" class="col-sm-2 control-label">Data de Nascimento</label>

                            <div class="col-sm-10">
                                <input class="form-control datemask date-birth" name="birthdate"
                                    placeholder="Data de Nascimento" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSex" class="col-sm-2 control-label">Sexo</label>
                            <div class="col-sm-10">
                                <select class="form-control form-control-sm sex" name="sex">
                                    <option></option>
                                    <option>Masculino</option>
                                    <option>Feminino</option>
                                    <option>Outros</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCEP" class="col-sm-2 control-label datemask"
                                data-inputmask='"mask": "00000-000"' data-mask>CEP</label>

                            <div class="col-sm-10">
                                <input class="form-control cep" placeholder="CEP">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress" class="col-sm-2 control-label">Endereço</label>

                            <div class="col-sm-10">
                                <input class="form-control address" placeholder="Endereço">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCity" class="col-sm-2 control-label">Cidade</label>

                            <div class="col-sm-10">
                                <input class="form-control city" placeholder="Cidade">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputState" class="col-sm-2 control-label">Estado</label>

                            <div class="col-sm-10">
                                <input class="form-control state" placeholder="Estado">
                            </div>
                        </div>
                        <div class="form-group pull-right">

                            <button type="submit" class="btn btn-primary">Alterar Usuário</button>
                            <button type="submit" class="btn btn-danger">Excluir Usuário</button>
                        </div>
                    </form>
                    <br><br>
                </div>
                <!-- /.row -->

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>