<header class="main-header">
    <a href="../login.html" class="logo">
        <span class="logo-mini"><b>A</b>ME</span>
        <span class="logo-lg"><b>abstract</b>ME</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>

    </nav>
    </header>
    <aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">

        <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">Olá, Maria Joana</li>
        <li routerLinkActive="active"><a [routerLink]="['orders']"><i class="fa fa-opencart"></i> <span>Gestão de Ordens</span></a></li>
        <li routerLinkActive="active"><a [routerLink]="['users']"><i class="fa fa-users"></i> <span>Gestão de Usuários</span></a></li>
        <li routerLinkActive="active"><a [routerLink]="['type-service']"><i class="fa fa-list-ol"></i> <span>Gestão de Tipo de Serviços</span></a></li>
        <li routerLinkActive="active"><a [routerLink]="['idiom']"><i class="fa fa-list-ol"></i> <span>Gestão de Idiomas</span></a></li>
        <li routerLinkActive="active"><a [routerLink]="['profile']"><i class="fa fa-wrench"></i> <span>Meu Perfil</span></a></li>
        <li ><a [routerLink]="['/']"><i class="fa  fa-close"></i> <span>Sair</span></a></li>
        </ul>
    </section>
    </aside>